In [1]:
import numpy as np
import pandas as pd

In [ ]:
#Question 1
#Write a Pandas program to add, subtract, multiple and divide two Pandas Series.
#Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 9]

In [3]:
s1 = pd.Series([2,4,6,8,10])
s2 = pd.Series([1,3,5,7,9])

print("First series is:",s1)
print("Second series is:",s2)

a=s1.add(s2)
print("Series after addition is:",a)
b=s1.sub(s2)
print("Series after subtraction is:",b)
c=s1.mul(s2)
print("Series after multiplication is:",c)
d=s1.div(s2)
print("Series after division is:",d)

First series is: 0     2
1     4
2     6
3     8
4    10
dtype: int64
Second series is: 0    1
1    3
2    5
3    7
4    9
dtype: int64
Series after addition is: 0     3
1     7
2    11
3    15
4    19
dtype: int64
Series after subtraction is: 0    1
1    1
2    1
3    1
4    1
dtype: int64
Series after multiplication is: 0     2
1    12
2    30
3    56
4    90
dtype: int64
Series after division is: 0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

In [ ]:
#Question 2
# Write a Pandas program to convert a dictionary to a Pandas series. Sample Series:
#Original dictionary:
#{'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}

In [5]:
dict = {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
print("Dictionary is: ", dict)

series = pd.Series(dict)
print("Series from Dictionary is:", series)

Dictionary is:  {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
Series from Dictionary is: a    100
b    200
c    300
d    400
e    800
dtype: int64

In [ ]:
#Question 3
# Write a Pandas program to sort a given Series.

In [7]:
s = pd.Series([2,5,9,1,3,6,0,7,4,8])
print("The given series is:",s)

s1=s.sort_values()
print("Sorted array is:",s1)

The given series is: 0    2
1    5
2    9
3    1
4    3
5    6
6    0
7    7
8    4
9    8
dtype: int64
Sorted array is: 6    0
3    1
0    2
4    3
8    4
1    5
5    6
7    7
9    8
2    9
dtype: int64

In [1]:
#Question 4
#Write a Pandas program to get the items which are not common of two given series.

In [9]:
ser1 = pd.Series([1,2,3,4,5])
ser2 = pd.Series([3,4,5,6,7])
print("Both series are {} and {}".format(ser1,ser2))

union = pd.Series(np.union1d(ser1,ser2))

intersection = pd.Series(np.intersect1d(ser1,ser2))

notcomseries = union[~union.isin(intersection)]
print(notcomseries)

Both series are 0    1
1    2
2    3
3    4
4    5
dtype: int64 and 0    3
1    4
2    5
3    6
4    7
dtype: int64
0    1
1    2
5    6
6    7
dtype: int64

In [ ]:
#Question 5
#Write a Pandas program to calculate the number of characters in each word in a given series.

In [15]:
ser = pd.Series(['Anastasia', 'Dima', 'Katherine', 'James', 'Emily'])

new = []
for i in range(len(ser)):
    new.append(len(ser[i]))
    
print(pd.Series(new))

0    9
1    4
2    9
3    5
4    5
dtype: int64

In [ ]:
#Question 6
# Write a Pandas program to create and display a DataFrame from a specified dictionary 
#data which has the index labels.
#Sample:
#exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 
#'Laura', 'Kevin', 'Jonas'],
#'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
#'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
#'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
#labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [ ]:
#(i) Write a code get summary of the above dataframe.

In [19]:
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 
'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

get = pd.DataFrame(exam_data,index=labels)
get.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      10 non-null     object
 1   score     8 non-null      float64
 2   attempts  10 non-null     int64
 3   qualify   10 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 400.0+ bytes

In [ ]:
#(ii) Write a code to extract top 3 values of the above dataframe

In [20]:
get.head(3)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes

In [ ]:
#(iii) Write a code to extract last 3 values of the above dataframe

In [21]:
get.tail(3)

    name  score  attempts qualify
h  Laura    NaN         1      no
i  Kevin    8.0         2      no
j  Jonas   19.0         1     yes

In [ ]:
#(iv) Write the code to find column names

In [24]:
print('Column names:', get.columns)

Column names: Index(['name', 'score', 'attempts', 'qualify'], dtype='object')

In [ ]:
#Question 7
# Write a Pandas program to select the rows where the number of attempts in the 
#examination is greater than 2 in the above data frame.

In [27]:
data = get['attempts'] > 2
print(data)

a    False
b     True
c    False
d     True
e    False
f     True
g    False
h    False
i    False
j    False
Name: attempts, dtype: bool

In [ ]:
#Question 8
#Write a Pandas program to select the rows where the score is missing, i.e. is NaN.

In [40]:
data = get['score'].isnull()
print(data)

a    False
b    False
c    False
d     True
e    False
f    False
g    False
h     True
i    False
j    False
Name: score, dtype: bool

In [ ]:
#Question 9
# Write a Pandas program to calculate the sum of the examination attempts by the students.

In [29]:
n = get['attempts'].sum()
print(n)

19

In [ ]:
#Question 10
#Write a Pandas program to sort the DataFrame first by 'name' in descending order, 
#then by 'score' in ascending order.

In [34]:
a = get['name'].sort_values(ascending=False)
print(a)

f      Michael
g      Matthew
h        Laura
i        Kevin
c    Katherine
j        Jonas
d        James
e        Emily
b         Dima
a    Anastasia
Name: name, dtype: object

In [35]:
b = get['score'].sort_values(ascending=True)
print(b)

i     8.0
b     9.0
e     9.0
a    12.5
g    14.5
c    16.5
j    19.0
f    20.0
d     NaN
h     NaN
Name: score, dtype: float64

In [ ]:
#Question 11
#Write a Pandas program to replace the 'qualify' column contains the values 'yes' and 'no' with True and False.

In [38]:
n = get['qualify'].replace('yes','True').replace('no','False')
print(n)

a     True
b    False
c     True
d    False
e    False
f     True
g     True
h    False
i    False
j     True
Name: qualify, dtype: object

In [ ]:
#Question 12
#Fill the NULL values with all the possible known values.

In [39]:
print(get.isnull())

    name  score  attempts  qualify
a  False  False     False    False
b  False  False     False    False
c  False  False     False    False
d  False   True     False    False
e  False  False     False    False
f  False  False     False    False
g  False  False     False    False
h  False   True     False    False
i  False  False     False    False
j  False  False     False    False